@import "tailwindcss";
@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@variant dark (&:is(.dark *));

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-950);
}

/* .dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-slate-50);
} */

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Outfit', ui-sans-serif, system-ui;
  --font-fair: "Playfair";
 --color-primary: #fcefe2;
 --color-accent: #513c32;
 --color-dark: #251a13;
}


@layer base {
  html, body {
    scroll-behavior: smooth;
    /* overscroll-behavior-y: none; */
    max-width: 100vw;
    overflow-x: hidden;
  }
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px; /* This sets the width */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700/50 rounded-full; /* Subtle dark color */
    border: 2px solid transparent; /* Creates "padding" around the thumb */
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600; /* Brightens slightly on hover */
  }
  * {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: theme('colors.zinc.700') transparent;
  }
}

@layer components {
  button {
    @apply cursor-pointer
  }
  .icon_hover {
   @apply p-2 rounded-full hover:bg-slate-200 dark:hover:bg-slate-700 cursor-pointer transition-colors;
 }
 .padding-top {
  @apply pt-20
 }
 .low-contrast /*for text*/ {
   @apply text-gray-600;
 }
 h1 {
  @apply font-semibold text-center
 }
 .title {
  @apply max-sm:text-4xl text-5xl lg:text-6xl font-bold text-center text-dark;
 }
 .title-string {
  @apply text-center text-accent/80
 }
 .tooltip {
  @apply absolute cursor-pointer left-1/2 -translate-x-20 ml-2 -bottom-8 bg-slate-300 text-slate-950 text-xs rounded-md px-2 py-1 whitespace-nowrap opacity-0 pointer-events-none transition-opacity group-hover:opacity-100;
 }
 .subtitle {
  @apply text-gray-700 font-semibold text-center dark:text-gray-300;
 }
 .high-contrast {
  @apply text-black dark:text-white;
 }
 .md-contrast {
  @apply text-gray-800 dark:text-gray-200;
 }
 .shadow-question {
  box-shadow: inset 0px 0px 40px rgba(81, 136, 237, 0.087), 1px 1px 10px #516bed60;
 }
 .loader-div {
  @apply w-3 h-3 bg-gray-400 rounded-full;
 }
 footer {
  box-shadow: 0px 1px 20px #00000033;
 }
 .btn {
  @apply bg-accent rounded text-white hover:scale-[1.03] transition-transform px-3.5 py-2;
 }
 .btn-spine {
  @apply bg-transparent border border-accent text-accent
 }
 .padding-main {
  @apply p-3 sm:p-5 md:p-8 lg:p-18
 }
}

